*,
*:before,
*:after {
  box-sizing: border-box;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
}

svg {
  overflow: visible;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}


section {
    display: block;
}
