$primary:    #00C9FF;
$secondary:  #D4004A;
$purple:     #4E0262;
$light-grey: #D8D8D8;
$light-pink: #DAC5D3;
$grey:       #eaeaea;
$white:      #ffffff;
$black:      #202020;

$theme-colors-rgb: (
    "primary":    #00C9FF,
    "secondary":  #D4004A
);


$headings-color: $black !default;
$body-color:     $black !default;
